{% extends 'base.html' %}


{% block content %}

<h3>{{ object }}</h3>

<div class=row>
{% for product in products %}
  <div class="col-md-2 col-sm-2 col-xs-6">
    <div class="thumbnail text-center">
      <a href="{{ product.get_absolute_url }}">
      {% if product.get_image_url %}
        <img id="img" class="img-responsive" src="{{ product.get_image_url }}"/>
      {% endif %}
      </a>
      <div class="caption">
        <p><a href="{{ product.get_absolute_url }}">{{ product }}</a></p>
      </div>
    </div>
  </div>
<!-- 6 ciclos(cada '') e adiciona uma nova 'row'  -->
{% cycle '' '' '' '' '' '' '</div><hr/><div class="row">' %}
{% endfor %}
</div>


{% endblock %}
