{% extends 'base.html' %}

{% block content %}

<h1><a href="{% url 'products:list' %}">Produtos </a><small><a href="{% url 'categories:category_list' %}">| por categoria</a></small></h1>

<!-- Também pode ser usado o objeto 'product_list' -->
<div class=row>
{% for product in object_list %}
  <div class="col-md-2 col-sm-2 col-xs-6">
    <div class="thumbnail text-center">
      <a href="{{ product.get_absolute_url }}">
      {% if product.get_image_url %}
        <img id="img" class="img-responsive" src="{{ product.get_image_url }}"/>
      {% endif %}
      </a>
      <div class="caption">
        <p><a href="{{ product.get_absolute_url }}">{{ product }}</a></p>
      </div>
    </div>
  </div>
<!-- 6 ciclos(cada '') e adiciona uma nova 'row'  -->
{% cycle '' '' '' '' '' '' '</div><hr/><div class="row">' %}
{% endfor %}
</div>

{# {{ now }} #}

<!-- Essa variável vem da configuração de Templates em 'settings' -->
{# {{user}} #}

{% endblock %}
