{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8"> 
      <h3>{{ object.title }}<h3>
      {% if object.productimage_set.count > 0 %}
      <!-- img.image.file == caminho físico do arquivo no servidor
           img.image.url == caminho como o arquivo está sendo servido -->
      {% for img in object.productimage_set.all %}
      <img class="image-responsive" src="{{ img.image.url }}"/>
      {% endfor %}
      {% endif %}
      <p>{{ object.description }}</p>
    </div>
    <div class="col-md-2">
      <h3>{{ object.price }}</h3>
      {% if object.variation_set.count > 1%}
      <select class="form-control">
        {% for vari_obj in object.variation_set.all %}
        <option value="{{ vari_obj.id }}">{{ vari_obj }}</option>
        {% endfor %}
      {% endif %}
      </select>
      <a href="#">Adicionar ao carrinho</a>
    </div>
  </div>
</div>

{% endblock %}
