{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
{% if not user_can_continue %}
<div class="row">
  <div class="col-sm-5">
    <h2 style="padding-bottom: 20px;">Continue como convidado</h2>
    <form method='POST' action="">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-primary" value="Continue"/>
    </form>
  </div>
  <div class="col-sm-5 col-sm-offset-2">
    <h2 style="padding-bottom: 20px;">Acesse sua conta</h2>
    <form method='POST' action="{% url 'auth_login' %}">
      {% csrf_token %}
      {{ login_form|crispy }}
      <input type="hidden" name="next" value="{{ next_url }}"/>
      <input type="submit" class="btn btn-primary" value="Login"/>
    </form>
    <h4>{% trans "Esqueceu sua senha?" %} <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>.</h4>
    <h4>{% trans "Não tem uma conta?" %} <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>.</h4>
  </div>
</div>
{% else %}
{% include 'orders/order_summary_short.html' with order=order %}
<div class="row text-center">
  <div class="col-sm-4 col-sm-offset-4">
    <form method="POST" action="{% url 'checkout_final' %}">
      {% csrf_token %}
      <input type="hidden" name="payment_token" value="ABC"/>
      <button class="btn btn-success" type="submit">Finalizar Pedido</button>
    </form>
  </div>
</div>
{% endif %}
{% endblock content %}
