{% extends 'base.html' %}

<script>
{% block jquery %}
  $(".item-qty").change(function(){
    // $(this).next(".btn-update").fadeIn();
    // event.preventDefault();
    var item = $(this).prev("input[type='hidden']").val();
    var qty = $(this).val();
    var data = {
      item: item,
      qty: qty
    }
    console.log(data);
    $.ajax({
      type: "GET",
      url: "{% url 'cart' %}",
      data: data,
      success: function(data){
        if (data.deleted){
          $("#item"+item).fadeOut();

        } 
        else {
          $("#item-line-total-"+item).text(data.line_total);
          $("#subtotal").text(data.subtotal);
        }
        showFlashMessage("Carrinho atualizado");
      },
      error: function(response, error){
        console.log(response);
        console.log(error);
      }
    });
  });
{% endblock jquery %}
</script>

{% block content %}
<table class="table">
{% for item in object.cartitem_set.all %}
<tr id="item-{{ item.item.id }}">
    <td>{{ item.item.get_title }}</td>
    <td>
      <form action="." method="GET">
        <input type='hidden' name='item' value="{{ item.item.id }}"/>
        <input type='number' class="item-qty" name='qty' value="{{ item.quantity }}"/>
        <input type='submit' class="btn btn-link btn-update" value="Atualizar"/>
      </form>
    </td>
    <td id="item-line-total-{{ item.item.id }}">{{ item.line_item_total }}</td>
    <td><a class="text-right" href="{{ item.remove }}">Remover</a></td>
</tr>
{% endfor %}

<tr><td id="subtotal" colspan="5" class='text-right'>Subtotal: {{ object.subtotal }}</td></tr>

</table>
{% endblock content %}
