@charset "UTF-8";

/* Essa classe foi usada na página inicial  */
.text-color-0004 {
    color: rgba(0,0,0,.4);
}

/* Altera a configuração padrão do jumbotron  */
.element.style {
    margin-top: 20px;
    margin-bottom: 0px;
}

.orig-price {
 color: red;
 text-decoration: line-through;
}

.btn-update {
  display: none;
}

.container-alert-flash {
  position: absolute;
  top: 10px;
  z-index: 1000;
  display: none;
}
